<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleExecutable</key><string>SmtMac</string>
<key>CFBundleIconFile</key><string>SMT.icns</string>
<key>CFBundleName</key><string>SMT Mac Beta</string>
<key>CFBundleIdentifier</key><string>local.smt.macbeta</string>
<key>CFBundleVersion</key><string>0.8.0</string>
<key>CFBundleShortVersionString</key><string>0.8.0</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>NSHighResolutionCapable</key><true/>
<key>LSMinimumSystemVersion</key><string>12.0</string>
<key>NSDocumentsFolderUsageDescription</key><string>Automatically read EVE chat logs in your Documents folder to display local intel reports.</string>
</dict></plist>
